@model IEnumerable<CareMiAPIAuth.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nmPaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrPeso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nrAltura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nmGrupoSanguineo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flSexoBiologico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nmPaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrPeso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nrAltura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nmGrupoSanguineo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flSexoBiologico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.cdPaciente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.cdPaciente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.cdPaciente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
