﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Paciente>


<h2>Pacientes</h2>

<table class="table">
    <thead>

        <tr>
            <th>Código</th>
            <th>Código de Usuario</th>
            <th>Nome do Paciente</th>
            <th>Peso</th>
            <th>Altura</th>
            <th>Grupo sanguineo</th>
            <th>Sexo biologico</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var paciente in Model)
        {
            <!-- Uma linha para cada produto -->
            <tr>

                <td>@paciente.cdPaciente</td>

                <td>@paciente.cdUsuario</td>

                <td>@paciente.nmPaciente</td>

                <td>@paciente.nrPeso</td>

                <td>@paciente.nrAltura</td>

                <td>@paciente.nmGrupoSanguineo</td>

                <td>@paciente.flSexoBiologico</td>

                <!-- Coluna para o link de edição do produto -->
                <td>
                    <a asp-controller="Paciente" asp-action="Edit" asp-route-ID="@paciente.cdPaciente">Editar</a>

                    <!-- Coluna para os links de exclusão do produto -->

                    <a asp-controller="Paciente" asp-action="Delete" asp-route-ID="@paciente.cdPaciente">Excluir</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-controller="Paciente" asp-action="Create">Novo Paciente</a>