﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Atendimento>


<h2>Atendimentos</h2>

<table class="table">
    <thead>

        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade de dias</th>
            <th>Hábitos</th>
            <th>Tempo de sono</th>
            <th>Hereditario</th>
            <th>Data de envio</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var atendimento in Model)
        {
            <!-- Uma linha para cada produto -->
            <tr>

                <td>@atendimento.cdAtendimento</td>

                <td>@atendimento.dsDescricao</td>

                <td>@atendimento.qtDias</td>

                <td>@atendimento.dsHabito</td>

                <td>@atendimento.dsTempoSono</td>

                <td>@atendimento.dsHereditario</td>

                <td>@atendimento.dtEnvio</td>

                <td>@atendimento.fgAtivo</td>

                <!-- Coluna para o link de edição do produto -->
                <td>
                    <a asp-controller="Produto" asp-action="Edit" asp-route-ID="@atendimento.cdAtendimento">Editar</a>

                    <!-- Coluna para os links de exclusão do produto -->

                    <a asp-controller="Produto" asp-action="Delete" asp-route-ID="@atendimento.cdAtendimento">Excluir</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-controller="Produto" asp-action="Create">Novo Produto</a>