﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Usuario>


<h2>Usuarios</h2>

<table class="table">
    <thead>

        <tr>
            <th>Código</th>
            <th>Nome do Usuario</th>
            <th>Data de nascimento</th>
            <th>Numero do CPF</th>
            <th>Numero do RG</th>
            <th>Nacionalidade</th>
            <th>Telefone</th>
            <th>Data de cadastro</th>
            <th>Estado civil</th>
            <th>Profissão</th>
            <th>Ativo</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var usuario in Model)
        {
            <!-- Uma linha para cada produto -->
            <tr>

                <td>@usuario.cdUsuario</td>

                <td>@usuario.nmUsuario</td>

                <td>@usuario.dtNascimento</td>

                <td>@usuario.nrCpf</td>

                <td>@usuario.nrRg</td>

                <td>@usuario.dsNacionalidade</td>

                <td>@usuario.nrTelefone</td>

                <td>@usuario.dtCadastro</td>

                <td>@usuario.dsEstadoCivil</td>

                <td>@usuario.dsProfissao</td>

                <td>@usuario.fgAtivo</td>

                <!-- Coluna para o link de edição do produto -->
                <td>
                    <a asp-controller="Usuario" asp-action="Edit" asp-route-ID="@usuario.cdUsuario">Editar</a>

                    <!-- Coluna para os links de exclusão do produto -->

                    <a asp-controller="Usuario" asp-action="Delete" asp-route-ID="@usuario.cdUsuario">Excluir</a>
                </td>


            </tr>
        }
    </tbody>
</table>
<a asp-controller="Usuario" asp-action="Create">Novo Usuario</a>